<div class='container'>
  <div class='text-center mb-2 pt-4'>
    <%= image_tag 'logo.svg' %>
  </div>
  <p class='notification-title text-center mb-5'>A new log was added to the dashboard</p>
  <h1><strong><%= @board.name %></strong></h1>
  <hr>
  <p>
    <%= @log.title %>
    <%= sanitize @log.text %>
  </p>
  <hr>
  <div class='text-center'>
    <%= link_to 'View board', board_url(@board), class: 'btn btn-primary' %>
  </div>
  <div>
    <% @log.tags.each do |tag| %>
      <div class="badge badge-primary"><%= tag.name %></div>
    <% end %>
  </div>
</div>