<div class="changologs-sidebar">
  <div class="d-flex justify-content-center align-items-center">
    <button id="hide-sidebar-button" class="hide-sidebar">
      <%= fa_icon "angle-double-left" %>
    </button>
  </div>
  <div class="menu">
    <button class="btn menu-button mt-2">
      <a href="/boards"><%= fa_icon "folder" %>Boards</a>
    </button>

    <button class="btn menu-button mt-2">
      <a href="/shared"><%= fa_icon "share" %>Shared</a>
    </button>

    <div class="btn menu-button menu-dropdown mt-2">
      <span><%= fa_icon "globe" %>Sites</span>
      <ul>
        <% @sites.each do |site| %>
          <li>
            <a href="#" class='btn'><%= site.name %></a>
          </li>
        <% end %>
      </ul>
    </div>
  </div>
</div>