<div class="container">
  <div class="row justify-content-center">
    <div class="col-md-5 border p-4 rounded mt-5">
      <h2>Scan the QR Code to Enable Two Factor Authentication</h2>
      <div>
        <%= raw RQRCode::QRCode.new(current_user.otp_provisioning_uri(current_user.email, issuer: "Changologs"),
                                :svg,
                                :level => :l,
                                :unit => 2).as_svg %>
      </div>
      <%= form_tag(enable_otp_verify_path, method: :post) do %>
        <div class='form-group'>
          <%= label_tag :otp_attempt, "Enter OTP Code" %>
          <%= text_field_tag :otp_attempt, "", class: 'form-control' %>
        </div>
        <%= submit_tag "Verify and Enable", class: 'btn btn-primary' %>
      <% end %>
      <%= link_to "Back", edit_user_registration_path %>
    </div>
  </div>
</div>