<%= render 'partials/header' %>
<div class='container'>
  <% if @logs.empty? %>
  <div class="jumbotron jumbotron-fluid border rounded">
    <div class="container">
      <h4 class="text-center">No se encontraron logs</h4>
    </div>
  </div>
  <% end %>
  <div class='row'>
    <% @logs.each do |log| %>
      <div class='col-md-4 mb-4 log'>
        <div class='card p-2 shadow-sm' style="border-color: <%= log.color %>">
          <div class="card-body position-relative">
            <div class="position-absolute text-right log-actions">
              <%= link_to edit_log_path(log), class: "mr-1" do %>
                <i class="fa fa-edit"></i>
              <% end %>
              <%= link_to log_path(log), class: "badge badge-danger", method: :delete, data: { confirm: 'Are you sure?' } do %>
                <i class="fa fa-trash"></i>
              <% end %>
            </div>
            <span class='created_date'><%= log.created_at.to_date.strftime("%B, %d, %Y") %></span>
            <h5 class="card-title"><%= log.title %></h5>
            <div class="py-1 border-bottom"></div>
            <p class="card-text"><%= sanitize log.text %></p>
            <div class="py-1 border-bottom"></div>
            <p class="card-text mt-2"><%= log.user.full_name %></p>
            <div>
              <% log.tags.each do |tag| %>
                <div class="badge badge-primary"><%= tag.name %></div>
              <% end %>
            </div>
          </div>
        </div>
      </div>
    <% end %>
  </div>
</div>