<div class='col-md-4 mb-4 position-relative board-wrapper'>
  <div class='card board-wrapper__board-item'>
    <div class="position-absolute p-2 text-right board-actions z-index-1">
      <div class="dropdown">
        <button class="dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          <span></span><span></span><span></span>
        </button>
        <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
          <%= link_to edit_board_path(board), class: "dropdown-item mr-1" do %>
            <div><i class="fa fa-edit"></i> <span>Edit</span></div>
          <% end %>
          <%= link_to board_path(board), class: 'dropdown-item', method: :delete, data: { confirm: 'Are you sure?' } do %>
            <div><i class="fa fa-trash"></i> <span>Delete</span></div>
          <% end %>
        </div>
      </div>
    </div>
    <%= link_to board_path(board), class: 'card-body d-flex justify-content-center align-items-center text-center bg-primary text-white rounded shadow-sm position-relative' do %>
      <h5><%= board.name %></h5>
    <% end %>
    <div class='position-absolute fixed-bottom p-2 text-right'>
      <span class='text-white'><%= board.logs_label %></span>
      <%= link_to new_board_log_path(board), class: 'btn btn-sm' do %>
        <i class='text-white fa fa-plus'></i>
      <% end %>
    </div>
  </div>
</div>