<%= form_with model: @board, local: true do |form| %>
  <div class="row">
    <div class="col-md-8">
      <div class="form-group">
        <%= form.label :name %><br>
        <%= form.text_field :name, class: 'form-control' %>
      </div>
    </div>
    <div class="col-md-4">

      <div class="form-group">
        <%= form.label :type, "Board type" %>
        <%= form.select :board_type, options_for_select(Board.board_types.keys.map { |board_type| [board_type.humanize, board_type] }, @board.board_type), {}, { class: "form-control" } %>
      </div>

      <div class="form-group text-right">
        <%= form.submit class: 'btn btn-primary d-block btn-block' %>
        <%= link_to 'Cancel', boards_path, class: 'btn btn-secondary d-block btn-block' %>
      </div>

    </div>
  </div>
<% end %>