<%= render 'partials/header' %>
<div class="changologs-app-container">
  <%= render 'partials/sidebar' %>
  <div class="app-content">
    <div class='container'>
      <div>
        <div class="row">
          <div class="col-md-12">
            <div class="flex align-center w-100 mb-3">
              <h6 class="label-icon mr-auto"><%= fa_icon "folder" %>My boards</h6>
              <%= link_to new_board_path, class: 'btn btn-secondary' do %>
                New board
              <% end %>
            </div>
          </div>
        </div>
        <% if @boards.empty? %>
          <%= render partial: 'partials/empty', locals: { message: "You don't have any logs yet" } %>
        <% else %>
          <div class='row'>
            <%= render @boards %>
          </div>
        <% end %>
      </div>
    </div>
  </div>
</div>