<%= form_with model: @log, local: true do |form| %>
  
  <div class="row">
    <div class="col-md-8">
      <div class="form-group">
        <%= form.label :title %><br>
        <%= form.text_field :title, class: 'form-control' %>
      </div>
    
      <div class="form-group">
        <%= form.label :text %><br>
        <%= form.text_area :text, class: 'form-control', 'data-provider': :summernote, rows: 5 %>
      </div>
    </div>
    <div class="col-md-4">
       <div class="form-group">
          <%= form.label :tag_list %><br>
          <%= form.text_field :tag_list, 'data-role'=>'tagsinput' %>
        </div>

        <div class="form-group">
          <%= form.label :color %>
          <input type='hidden' name="log[color]" value="#00000020" id="color-input" />
          <div class="color-select d-flex">
            <div class="color-select__color color-select__color-0 mr-2" data-color="#00000020"></div>
            <div class="color-select__color color-select__color-1" data-color="#ffcfcf"></div>
            <div class="color-select__color color-select__color-2 mx-2" data-color="#e1feff"></div>
            <div class="color-select__color color-select__color-3" data-color="#FFF740"></div>
            <div class="color-select__color color-select__color-4 ml-2" data-color="#DB5F5D"></div>
          </div>
        </div>

        <div class="form-group text-right">
          <%= form.submit class: 'btn btn-primary d-block btn-block' %>
          <%= link_to 'Cancel', logs_path, class: 'btn btn-secondary d-block btn-block' %>
        </div>

    </div>
  </div>

 
<% end %>