<%= render 'partials/header' %>
<div class='container border p-4'>
  <div class='row'>
    <div class='col-md-12'>
      <div class='d-flex'>
        <span class='date'>Created at: <%= @log.created_at.strftime("%Y-%m-%d") %></span>
        <span class='ml-auto date'>Updated at: <%= @log.updated_at.strftime("%Y-%m-%d") %></span>
      </div>
      <h1><%= @log.title %></h1>
      <main class='log-content'>
        <%= sanitize @log.text %>
      </main>
      <div class="mb-4">
        <% @log.tags.each do |tag| %>
          <div class="badge badge-primary"><%= tag.name %></div>
        <% end %>
      </div>
      <%= link_to 'Back to board', board_path(@board), class: 'btn btn-primary' %>
      <%= link_to 'Edit', edit_board_log_path(@board, @log), class: 'btn btn-primary' %>
    </div>
  </div>
</div>